[Unit]
Description= lancement de la sauvegarde toutes les 10 mins. run save every 10 mins

[Timer]
OnCalendar=*:0/10
AccuracySec=1s
Unit=/etc/systemd/system/saveamap.service #pour être sûr que le timer soit associer au bon service

[Install]
WantedBy=timers.target
